.specialite{
    display: none;
}
.main{
    background-image: url("https://www.ynov.com/wp-content/uploads/2018/02/banniere_ydays-light.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.results_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.search_result {
    border: 2px solid #e94e6d;
    border-radius: 3px;
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
    margin-right: 10px;
}

.offers{
    color:#23b2a4;
}

h2 {
    margin:0px;
    padding:0px;
}

.submit-button{
    margin-left:-45px;
    width:200px;
    color:white;
    border-radius: 10px;
    background-color: #e94e6d;
    border: 1px solid #e94e6d;
}

.menu {
    background-color: white;
    margin-top: 0;
    margin-bottom: 10px;
}

.logo {
    display: inline-block;
    position: relative;
    left: 150px;
}

.logo img {
    max-width: 150px;
}

.offers{
    margin-top:20px;
    margin-left:150px;
    margin-bottom: 20px;
}

.title {
    padding-top:20px;
    margin-left:150px;
    font-size:50px;
}

.form{
    margin-left:140px;
}
