.form{
    margin-left: 30em;
    margin-top: 2.5em;
    margin-right: 35em;
    display: flex;
    flex-direction: column;
}
select{
    margin-top: 1.5em;
    font-size: 1.5em;
}
.thematique{
    margin-right: 2em;
}
.specialite{
    display: none;
}
h1{
    font-size: 7em;
    padding-left: 1.5em;
}