html,body{
    height: 100%;
    margin:0;
    padding: 0;
    display:flex;
    font-family: 'Montserrat', sans-serif;
}

body, html {
    background-color: #f6f6f6;
}


.title{
    line-height: normal;
    font-size:30px;
    text-align: center;
    margin-top: 40px;
}

.small {
    font-size: 0.7em;
}

.year {
    font-weight: bold;
}

.cat{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.details{
    margin: 0;
    width:55%;
}

.desc {
    line-height: 25px;
    text-align: justify;
    padding: 0 30px 0 30px;
}

.contactform{
    width:45%;
    heidht:100%;
    background-color:#23b2a4;
}

.signup-form {
    font-family: 'Montserrat', sans-serif;
    font-size:15px;
    box-sizing: border-box;
    padding: 1px 10px 1px 6px;
    color: black;
    border: 1px solid white;
    height: 32px;
    width: 100%;
    margin-top: 10px;
}

.message-form{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    height:200px;
}

.form{
    margin:30px;
}

.submit{
    color:white;
    border-radius: 10px;
    background-color: #e94e6d;
    border: 1px solid #e94e6d;
}

.form-text{
    padding-top:20px;
    padding-bottom: 20px;
    font-size:32px;
}

.line{
    margin-left: auto;
    margin-right: auto;
    border-top: solid black 1px;
    width:70%;
}

.message {
    margin-top: 30px;
    line-height: 20px;
    background-color: #e9e9e9;
    border-bottom: 1px solid grey;
    padding-left: 6px;
    padding-top: 6px;
    padding-bottom: 17px;
    font-family: Courier;
}

.message-form {
    margin-top: 0px;
}

.success {
    border: 1px solid black;
    width: 400px;
    margin: auto;
    padding: 15px;
    background-color: aquamarine;
    color: #494949;
}

.return_link {
    color: #42AB9E;
    text-decoration: none;
    font-size: 1.1em;
    margin-left: 15px;
    position: relative;
    bottom: 30px;
}
.return_link:hover {
    border-bottom: 1px solid #42AB9E;
}

.menu {
    background-color: white;
    margin-top: 0;
    margin-bottom: 10px;
}

.logo {
    display: inline-block;
    position: relative;
    left: 150px;
}

.logo img {
    max-width: 150px;
}

::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;
}
::-moz-placeholder {
   font-style: italic;
}
:-ms-input-placeholder {
   font-style: italic;
}
