* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #f6f6f6;
}

.main_wrapper {
    width: 980px;
    margin: auto;
    margin-top: 20px;
}

.main_wrapper h1 {
    margin-bottom: 20px;
    margin-top: 20px;
}

.results_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.search_result {
    border: 2px solid #e94e6d;
    border-radius: 3px;
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
    margin-right: 10px;
}

.search_result h2 {
    margin-bottom: 8px;
}

.new{
    font-size: 20px;
    color:#23b2a4;
    text-decoration: none;
}

.result_link{
    text-decoration: none;
    color:#23b2a4;
}

.menu {
    background-color: white;
    margin-top: 0;
    margin-bottom: 10px;
}

.logo {
    display: inline-block;
    position: relative;
    left: 150px;
}

.logo img {
    max-width: 150px;
}
